/** 
 * Treehouse FSJS Techdegree
 * Random Quote Generator - CSS
 */

body {
  background-color: #36b55c;
  color: white;
  font-family: 'Playfair Display', serif;
}

#quote-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}

.quote {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.quote:before, .quote:after {
  font-size: 3rem;
  line-height: 2.5rem;
  position: absolute;
}

.quote:before {
  content: "“";
  top: .25em;
  left: -.5em;
}

.quote:after {
  content: "”";
  bottom: -.1em;
  margin-left: .1em;
  position: absolute;
}

.source {
  font-size: 1rem;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

#loadQuote {
  position: fixed;
  width: 12em;
  display: inline-block;
  left: 50%;
  margin-left: -6em;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  background-color: #36b55c;
  padding: 15px 0;
  transition: .5s ;
}
#loadQuote:hover {
  background-color: rgba(255,255,255,.25);
}

#loadQuote:focus {
  outline: none;
}

/* from https://stackoverflow.com/questions/11660710/css-transition-fade-in */
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* from https://stackoverflow.com/questions/16989585/css-3-slide-in-from-left-transition */
.slide-in {
  position: absolute;
  left: -100%;
  width: 80%;
  -webkit-animation: slide 3s forwards;
  animation: slide 3s forwards;
}

.tag {
  font-size: 0.8rem;
  line-height: 1.1;
  display: block;
  font-style: normal;
  text-align: right;
  position: relative;
  margin-top: 4px;
}

@-webkit-keyframes slide {
  100% { 
    left: 10%;
    right: 10%;
  }
}

@keyframes slide {

  100% { 
    left: 10%;
    right: 10%; 
  }
}

@media (min-width: 420px) {
  .quote {
    font-size: 4rem;
  }
  .quote:before, .quote:after {
    font-size: 6rem;
  }
  .source {
    font-size: 1.25rem;
  }
}
